DISCORD_TOKEN='<https://discord.com/developers/applications>'
CANVAS_TOKEN='<https://<YOUR CANVAS DOMAIN>/profile/settings>' 

CANVAS_API_COURSES_URL='https://<YOUR CANVAS DOMAIN>/api/v1/courses?enrollment_state=active&'
CANVAS_API_COURSE_URL='https://<YOUR CANVAS DOMAIN>/api/v1/courses/'
CANVAS_API_ANN_URL='https://<YOUR CANVAS DOMAIN>/api/v1/announcements?contextcodes[]=course_'